body{
    margin: 0;
    background: -webkit-linear-gradient(top, #ffffff 0%, #e5e6e3 100%);
    background-attachment: fixed;

    
}

ul {

    list-style: none;
    display: flex;
    justify-content: center;

    
}
li {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    display: inline;
    padding: 4px 12px 4px 12px; /* top rigth bottom left */
    margin: 5px;
    border: 1px solid #ccc; 
}

li:hover {
    background: -webkit-linear-gradient(top, #ffffff 0%, #03d9ce 100%);
    
}
nav {
    display: flex;
    justify-content: center;
}
#container{
    background: -webkit-linear-gradient(top, rgb(191,210,85) 0%,rgb(142,185,42) 50%,rgb(114,170,0) 51%,rgb(158,203,45) 100%);

    box-shadow: 0px 0px 3px rgba(0, 0, 0, 1), inset 0px 0px 5px rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 1), inset 0px 0px 5px rgba(255, 255, 255, 0.8);


    border-radius: 6px;
    -webkit-border-radius: 6px;

    border: 1px solid #000;
    margin: 5px;
    width: 80%;
    overflow: hidden;

}



/* contacto.html */
h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 0px #000, 0px 0px 2px #222;
}
label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    display: inline-block;
    padding: 4px 16px 4px 12px; /* top right bottom left */

    overflow: hidden;
    width: 100%;
}
input, textarea {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    height: 23px;
    width: 85%;
    color: #333;
    border: 0px;
    outline: none;
    padding: 3px 6px 3px 6px; /* top rigth bottom left */

    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8), inset 0px 0px 2px rgba(0, 0, 0, 0.8);
	-webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8), inset 0px 0px 2px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.8), inset 0px 0px 2px rgba(0, 0, 0, 0.8);

    -moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}
input:hover {
    box-shadow: 0px 0px 2px rgba(3, 63, 141, 0.8), inset 0px 0px 2px rgba(51, 134, 243, 0.8);
	-webkit-box-shadow: 0px 0px 2px rgba(3, 63, 141, 0.8), inset 0px 0px 2px rgba(51, 134, 243, 0.8);
	-moz-box-shadow: 0px 0px 2px rgba(3, 63, 141, 0.8), inset 0px 0px 2px rgba(51, 134, 243, 0.8)

    
}
textarea {
    height: 100px;
}
#button {
    display: flex;
    justify-content: center;
}
#buttonSend {
	font-family: Tahoma, Verdana, Arial;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	cursor: pointer;
	padding: 5px 20px 5px 20px; /* up, right, down, left */
	
	background-image: linear-gradient(top, #b6e026, #abdc28);
	background-image: -webkit-linear-gradient(top, #b6e026, #abdc28);
	background-image: -moz-linear-gradient(top, #b6e026, #abdc28);
	background-image: -o-linear-gradient(top, #b6e026, #abdc28);
	background-image: -ms-linear-gradient(top, #b6e026, #abdc28);
	
	text-shadow: 0px 0px 0px #000, 0px 0px 2px #222;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	border: 0px solid #FFF;
	
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9), inset 0px 0px 6px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9), inset 0px 0px 6px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9), inset 0px 0px 6px rgba(0, 0, 0, 0.9);

}
#buttonSend:hover {
	font-family: Tahoma, Verdana, Arial;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	cursor: pointer;
	padding: 5px 20px 5px 20px; /* up, right, down, left */
	
	background-image: linear-gradient(top, #1BF7F0, #0FB4E7);
	background-image: -webkit-linear-gradient(top, #1BF7F0, #0FB4E7);
	background-image: -moz-linear-gradient(top, #1BF7F0, #0FB4E7);
	background-image: -o-linear-gradient(top, #1BF7F0, #0FB4E7);
	background-image: -ms-linear-gradient(top, #1BF7F0, #0FB4E7);
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	
	border: 0px solid #FFF;
	
	box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9), inset 0px 0px 6px rgba(0, 0, 0, 0.9);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9), inset 0px 0px 6px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9), inset 0px 0px 6px rgba(0, 0, 0, 0.9);
}

#formulario {
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e6e4e4), to(#FDFAF7)); /* Safari 4-5, Chrome 1-9 */
	background: -webkit-linear-gradient(top, #e6e4e4, #FDFAF7);  /* Safari 5.1, Chrome 10+ */
	background: -moz-linear-gradient(top, #D8D8D8, #FDFAF7); /* Firefox 3.6+ */
	background: -o-linear-gradient(top, #D8D8D8, #FDFAF7); /* Opera 11.10+ */

	box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8), inset 0px 0px 5px rgba(255, 255, 255, 0.8);
	-webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8), inset 0px 0px 3px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 0px 5px rgba(255, 255, 255, 0.8), inset 0px 0px 5px rgba(255, 255, 255, 0.8);
	

	
	padding: 15px 0px 30px 15px; /* up, right, down, left */

	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;

}